@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 9%;
  margin-right: 9%;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

/* Styles for the toggle button group */
.toggleButtonGroup {
  display: flex;
  border: 1.5px solid var(--primary-color);
  color: var(--primary-black);
  justify-content: center; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
  font-size: 16px;
  border-radius: 12px;
  font-weight: 500;
  margin: 22px 0;
}

@media (max-width: 768px) {
  .toggleButtonGroup {
    font-size: 10px;
  }
}

/* Styles for each toggle button */
.toggleButton {
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid  var(--color-primary);
  margin-right :5px;
  background-color: rgba(12, 12, 12, 0.6);
}
.toggleButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px rgb(255, 255, 255);
}
.toggleButton.active {
  background: var(--color-primary); /* Adjusted to simulate the styled-components behavior */
}

@media (max-width: 768px) {
  .toggleButton {
    padding: 7px 7px;
    border-radius: 4px;
  }
}

/* Styles for the divider between toggle buttons */
.divider {
  width: 1.5px;
  background: var(--primary-color);
}
