.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111; /* Dark background for footer */
    padding: 20px 0; /* Padding to give some space around content */
    margin-top: 20px; /* Margin to separate footer from other content */
    text-align: center;
  }
  
  .container a {
    margin: 0 10px; /* Spacing between icons */
  }
  
  .container img {
    transition: transform 0.3s; /* Smooth transform on hover */
  }
  
  .container img:hover {
    transform: scale(1.1); /* Slightly enlarge icon on hover */
  }
  
  .container p {
    color: #fff; /* White color for text */
    margin-top: 15px; /* Space above the copyright text */
    font-size: 14px; /* Slightly smaller text for copyright */
  }
  